 
<head>
	<meta charset="utf-8" />
	<title>Typo</title>

	<link href="style.css" rel="stylesheet" />

	<link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic' rel='stylesheet' type='text/css'>

	<script src="js/scripts.js"></script>
	</head>

<body>
<div  id="upgreybelt">
<h1>   </br></h1>
</div>

<div id= "supercontainer">
<div id="container">

<header>
		
	<h1 id="greybelt"></h1>
	<h2><a href="#" title="Rent Boat & Sun">Rent Boat & Sun</a></h2>

	<nav>
		<ul>
			<li class="selected"><a href="#">Home</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Ships</a></li>
			<li><a href="#">Contact</a></li>
			<li><a href="#"></a></li>
			<li><a href="#"></a></li>
			<li><a href="#"></a></li>
		</ul>
	</nav>
	
	<h3> The sailing experience </br> you always wanted </h3>
</header>


	<div id="content" role="main">
		<article>
			<h2> Welcome Abroad Sailor!</h2>
			<p>Lorem ipsum dolor sit amet[...]leo placerat. Timeo Danaos atque dona ferentes. In hoc signo vices. Delenda Cartago. Ave Cesare, morituri te salutant. Passer Passer deliciae meae puellae. 
			       Odi et amo, quare id faciam nescio, se fieri sentio atque excrucior. Omnia munda mundis.</p>
				<a href="#" id="more">more</a>
		</article>
	</div>



	<aside id="sidebar">
		<section id="about">
	
			<img src="http://sailortwain.com/wp-content/uploads/about.png" width="380" height="220">
		</section>
	</aside>
	


<div id="center-container">
	<section>
		<p><a id="central" href="#">RENT NOW AND GET 20% DISCOUNT!!</a></p>
	</section>
</div>

	<div id="content2" role="main2">
		<h2> Amazing sailing experiences with our ships</h2>
		
		<section id="column1">
			<h3> Mediterranean madness!</h3>
			<p class="authors">By: Raimon</p> <p class="dates">3 days ago</p>
			<article class="article">
				<p >In hoc signo vices. Delenda Cartago. Ave Cesare, morituri te salutant. Passer Passer deliciae meae puellae. 
			       Odi et amo, quare id faciam nescio, se fieri sentio atque excrucior. Omnia munda mundis.</p>
			</article>
		</section>
		<section id="column2">
			<h3> Mermaids spotted!</h3>
			<p class="authors">By: Kate</p> <p class="dates">2 days ago</p>
			<article class="article">
				<p >Lorem ipsum dolor sit amet[...]leo placerat. Timeo Danaos atque dona ferentes. In hoc signo vices. Delenda Cartago. Ave Cesare, morituri te salutant.</p>
			</article>
		</section>
	</div>
	
	<aside id="sidebar2">
		<h2> Available Boats</h2>
		<section id="about">
			<h3>Black Perl</h3>
			<p><a href="#" class="more"> RENT NOW!</a></p>
			<h3>The Flying Dutch</h3>
			<p><a href="#" class="more"> RENT NOW!</a></p>
		</section>
			<ul>
				<li><a class="alink" href="#">More</a></li>
			</ul>
	</aside>
</div>

<div id="footer-container">
	<footer>
		<hr class="hr">
		<p id="subtitle"> Navigating the mediterranean, agean and black seas since 1739</p>
		<ul id="links">
			<li><a class="alink" href="http://twitter.com">Twitter</a></li>
			<li><a class="alink" href="http://facebok.com">Facebook</a></li>
		</ul>
	</footer>
</div>

</div>

<div  id="downgreybelt">
<h1>   </br></h1>
</div>

</body>
 