body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
	margin: 0; padding: 0; border: 0;
	}


html {
		background: grey;
		}
	

body {
		background: grey;
		font-family: 'Droid Serif', serif; font-size: 14px;
		line-height: 24px;
		color: #666;
		}

a {
	color: #4b7ea9; font-style: italic;
	}

a:hover {
	color: #105896;
	}
	

header a, h2 a {
	color: #666; font-style: normal; text-decoration: none;
}


#supercontainer div{
		background: white;
	}
	

#upgreybelt div h1{
		background: grey; height: 10px;
	}

#downgreybelt div h1{
		background: grey; height: 10px;
		}


#container {
	width: 916px; margin: 0 auto; padding: 48px 22px 0 22px;
	background: white; overflow: hidden;
	}	

 
	
header {
	margin: 0 0 98px 0; 
	}
 
	
header h1 {
		float: left; font-size: 36px;
		font-weight: normal;
	}
	

header h2{
			font-size: 28px;
			}
	

header h3 {
		float: left; font-size: 14px; text-align: center;
		font-weight: normal;
		padding: 20px 2px 4px 0;
		margin: 0px 0px 0px 40px;
	}
	
	
	header nav {
		float: right; text-align: right
		padding: 0px 0 0 0;
		border: solid;
		border-width: 1px;
	}
	
	header nav ul {
			list-style: none;
	}
		
	header nav li {
				text-align: left;
				float: left; font-size: 12px;
				width: 75px; margin: 0;
				padding: 10px 0px 2px 10px;
	}

	header nav ul li a:hover {
				color : #909090 ;
				} 

	header nav ul li a:not(.button):hover {
		background: #E8E8E8  !important; 
	}

 .selected {
	padding: 10px 0px 2px 10px;
	background-color:#E8E8E8 ;
	}
 
			
	#central{
		width: 458px; height: 20px; 
		margin: 0px 250px 0px 280px; 
		padding: 175px 10px 175px 10px;
		font-size: 16px; 
		font-style:normal;
		text-align: center;
		border: solid;
		border-width: 1px;
		text-decoration: none;
		color: #909090 ;
		padding: 10px 15px;
		background: #E8E8E8 ;
		}

#content {
	float: left; width: 436px;
	margin: 0 58px 0 0;
	}

	#content article {
		width: 436px;
		margin: 0 0 0px 0;		
	}
	
	#content article h2 {
			width: 436px;
			font-size: 30px; margin: 0 0 29px 0;
			font-weight: normal;
	}

	#content p {
			float: right;
			margin: 0 0 24px 0;
			text-align:justify;
			text-decoration: none;
			text-justify:inter-word;
	}

	#content #more {
			float: right;
			text-align: center;
			float: left;
			font-style:normal;
			text-decoration: none;
			color: #909090 ;
			margin: 0 0 0 360px;
			padding: 2px 20px 2px 20px;
			background: #E8E8E8 ;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
			border: solid 1px #20538D;
			text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
			-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
			-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
			box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
		}
		
	
	#content .postinfo {
			list-style: none; overflow: hidden;
		} 
	
	#content .postinfo li {
				float: left; width: 136px; margin: 0 20px 0 0;
				font-style: italic; color: #a2a2a2;
	}
			

#content2 {
	margin: 25px 0px 10px 0px;
	float: left; width: 640px;
}

#content2 .authors {
		float: left;
		color: #909090 ;
		margin: 5px 0px 0px 0; 
		font-size: 8;
		}
		
	#content2 .dates {
		float: right;
		color: #808080  ;
		margin: 5px 10px 0px 0;
		font-size: 9;
		}

	#content2 .body {
		float: left;
		margin: 5px 0 0px 0;
		font-size: 9;
		}

	
	#content2  h2 {
		margin: 10px 0px 0px 0px;
	}

	
	#content2  #column1{
		margin: 20px 0px 0px 0px;
		width: 280px; float: left; 
	}
	
	
	#content2  #column2 {
		margin: 20px 0px 0px 40px;
		width: 280px; float: left; 
	}
		
	
	#content2 .article{
		margin: 30px 10px  0 0;
	} 
		


	#sidebar {
		width: 292px; float: left;
		padding: 4px 0 0 0;
		margin: 0 0 25px 0;
	}
	
	#sidebar h3 {
		font-size: 18px; font-weight: normal;
		margin: 0 0 25px 0;
	}		

	#sidebar ul {
		list-style: none;
	}
	
	#sidebar section {
		margin: 0 20px 47px 0;
	}
	
	
	#sidebar #about a.more {
		display: block; text-align: right;
	}
		
	
	#sidebar #social {
		width: 136px; float: left; 
	}
	
#sidebar2 {
	float: left auto;
	color: #101010; 
	display: block; 
	text-align: left;
	margin: 36px 0 0 650px;
	padding: 4px 0 0 0;

}
	#sidebar2 h3 {
		font-size: 18px; font-weight: normal;
		margin: 0 0 25px 0;
	}		
	
	#sidebar2 ul {
		list-style: none;
	}
	
	#sidebar2 section {
		margin: 0 0 47px 0;
	}
	
	#sidebar2 h3{
		margin: 20px 0 0 0;		
		}
		
	#sidebar2 .more{
		float: right;
		font-size: 12px; 
		padding: 2px 5px 2px 5px; 
		font-style:normal;
		text-align: center;
		border: solid;
		border-width: 1px;
		text-decoration: none;
		color: #909090 ;
		background: #E8E8E8 ;		
		}

	#sidebar2 #about {
		margin: 0 0 47px 0px;
	}


	
#sidebar #sidebar2 #search #searchbar {
	width: 230px; height: 36px; float: left;
	border: 1px solid #c7c7c7; padding: 0 45px 0 15px; margin: -8px 0 0 0;
	background: #e2e2e2; /* Old browsers */
	background: -moz-linear-gradient(top, #e2e2e2 0%, #ffffff 16%); /* FF3.6+ */
	background: -webkit-linear-gradient(top, #e2e2e2 0%,#ffffff 16%); /* Chrome10+,Safari5.1+ */
	
	font-size: 14px; font-style: italic; color: #a2a2a2;
}
	#sidebar #sidebar2 #search #searchsubmit {
		width: 17px; height: 17px; float: right; margin: -27px 15px 0 0;
		background: url(images/search-icon.png); text-indent: -9999px;
	}
	
#footer-container {
	width: 960px; margin: auto; padding: 0px 0px 10px 0px;
	background: white; overflow: hidden;
		
}
	footer {
	}
	footer #links {
		list-style: none; float: right; 
		text-decoration: none;
		}			
		
    footer #subtitle {
		color: #505050;
		margin: 0px 0px 0px 10px;
		}
		
		footer #links li {
			float: left; margin: 0 6px 0 0;
			
		}
		

 

	.alink{
			margin: 0 0 1px 0;
			float: right;
			color: blue;
			font-style: normal;
			text-decoration: none;
	}

				